<%- include("partials/header.ejs") %>

    

<h1>Bookshelf</h1>

<form action="/submit" method="POST">
    <input type="text" name="search" placeholder="Find a book">
    <button type="submit">Submit</button>
</form>



<%- include("partials/footer.ejs") %>
