
* {
    background-color: rgb(46, 44, 44);
    color: rgb(71, 177, 35);
}

h1 {
    font-size: 2.5em;
}

main {
    margin-left: 10%;
    margin-top: 10%;
}

.google-books-wrapper, .bookshelf {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
}


.add-book {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.add-book input {
    margin: 10px 0;
    
    border-color: green;
    border-style: solid;
}

