
/* COLORS */
:root {
    --green: rgb(68, 81, 51);
    --dark-olive: rgb(56, 63, 47);
    --grey: rgb(129, 133, 122);
    --dark-grey: rgb(46, 44, 44);
    --whiteish: rgb(213, 213, 213)
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: poppinsLight, sans-serif;
}

body {
    background-color: var(--green);
    padding: 4rem;
    font-size: 1rem;
}

/* FONTS */

@font-face {
  font-family: poppinsLight;
  src: url(poppins/Poppins-Light.ttf);
  font-weight: light;
}

.page-heading {
    font-size: 5rem;
    text-decoration: none;
}

.title {
    font-size: 1rem;
    display: -webkit-box;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.author {
    font-style: italic;
}

/* HOMEPAGE LAYOUT */ 

.homepage-main {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr auto;
}

.add-book-search {
  grid-column-start: 1;
  grid-column-end: span 2;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

.sidebar-wrapper {
  grid-column: 1;
  grid-row: 2;
}

.books-wrapper {
  grid-column: 2;
  grid-row: 2;
}

/* SIDEBAR */

.sidebar {
  margin-right: 2rem;
  height: 650px;
  width: 250px;
  background-color: var(--grey);
}

.bookshelf-search {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-text {
  padding-left: 20px;
  font-size: 1rem;
}

/* --------------------------------------------------- */
/* BOOKS */ 

.google-bookshelf, .bookshelf {
  display: grid;
  gap: 1rem;
  padding-top: 2rem; 
  grid-template-columns: repeat(1, 1fr);
}

.book {
  text-align: center;
}

.book img {
    height: 220px;

}
.book-cover {
    max-width: 250px;
    height: auto;
}

.book-cover:hover {
    transform: scale(1.01);
    box-shadow: 0 0 1px var(--green);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

/* MODULES */ 

/* dark background */ 
.add-book, .books-wrapper, .btn {
  background-color: var(--dark-grey);
}

/* search form input */
input {
  background-color: var(--whiteish);
  border-style: none;
  height: 50px;
  width: 200px;
  outline: none;
}

input[type="text"] {
  padding-left: 1rem;
}

.bookshelf-search input{
  width: 80%;
  margin-top: 2rem;
  font-size: 1rem;
}

/* button */ 
.btn {
  border: none;
  cursor: pointer;
  margin-top: 1rem;
  height: 50px;
  width: 130px;
}

.bookshelf-search .btn {
  position: absolute;
  top: 50%;
  right: 1.7rem;
  transform: translateY(-50%);
  border: none;
  color: #fff;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* round corners */ 
.btn, input, .sidebar, .books-wrapper, .book-cover {
  border-radius: 30px;
}


/* ADD NEW BOOK PAGE */ 

.add-book {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.add-book label {
  font-size: 1.5rem;
  color: darkolivegreen;
  padding-top: 0.5rem;
}


/* ---------------------------------------------------------- */
/* Responsive Breakpoints */

@media (min-width: 650px) {
  .google-bookshelf, .bookshelf {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1100px) {
  .google-bookshelf, .bookshelf {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1300px) {
  .google-bookshelf, .bookshelf {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media (min-width: 1550px) {
  .google-bookshelf, .bookshelf {
    grid-template-columns: repeat(6, 1fr);
  }
}